.button {
  background: darkblue;
  margin: 0 auto;
  color: white;
  width: 100%;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}